/*for the top border to get rid of white space on top*/
* {
  margin: 0;
  padding: 0;
}
html, body {
  font-size: 22px;
  height: 100%;
  font-family: Helvetica;
  font-size: 22px;
  background-image: url('../media/mountains.jpeg');
  background-size: cover;
}

a {
  font-family: Arial;
  font-size: 16px;
  color: #fcf8ec;
  background: #19456b;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

button {
  font-family: Arial;
  font-size: 30px;
  color: rgb(174, 215, 243);
  background: #19456b;
  border-radius: 150px;
  padding: 10px;
  margin: 40px;
  min-width: 200px;
  text-decoration: none;
  outline: 0;
  box-shadow: 0 10px rgb(174, 215, 243);
  border-color: #000000;
}

button:hover {
  background-color: #4286c2;
}

button:active {
  background-color: #4286c2;
  box-shadow: 0 5px rgb(174, 215, 243);
  transform: translateY(4px);
}

#SiteName {
  color: #19456b;
}

#HomeButton button {
  font-size: 20px;
  z-index: 1;
}

#UserButton button {
  font-size: 20px;
  text-align: right;
}
#navbar {
  overflow: hidden;
  background-color: #d0e8f2;
  padding: 22px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
#navbar a {
  float: left;
  color: #ddd;
  text-align: center;
  padding: 12px;
  margin: 25px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}
#navbar a.active {
  background-color: #19456b;
  color: white;
}
#navbar-right {
  float: right;
  margin-left: auto;
  display: inline;
}


nav {
  text-align: right;
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 10%;
  position: fixed;
  z-index: 1;
  background-color: #d0e8f2;
  align-items: center;
  padding: var(--navbar-padding);
} 

.row .col {
  text-align: center;
  background: transparent;
}
/*This is for the card animation*/
.card
{
    perspective: 1000px;
    cursor: pointer;
}
.card--flipped .card_inner,
.card--flipped .card_inner,
.card--flipped .card_inner
{
    transform: rotateY(180deg);
}
.card,
.card_inner
{
    position: relative;
    width: 360px;
    height: 120px;
}

.card_inner
{
    transition: transform .25s ease-in-out;
    transform-origin: 50% 50%;

    transform-style: preserve-3d;
}

.card_back
{
    transform: rotateY(180deg);
}
.card_front:hover{
  background-color: #4286c2;
}
.card_front:active{
    background-color: #4286c2;
    box-shadow: 0 5px rgb(174, 215, 243);
    transform: translateY(4px);
  
}
.card_front,
.card_back
{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    color: #888;
    background: #19456b;
    border-radius: 150px;
    min-width: 250px;
    min-height: 70px;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    text-decoration: none;
    outline: 0;
    box-shadow: 0 10px rgb(174, 215, 243);
    border-color: #000000;
    padding: 10px;
    margin: 40px;
}
/*end of card animation*/
 
.flex-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;

}
.title {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  padding-top: 150px;
  padding-bottom: 20px;
  text-align: center;
}

.options button {
  /* top: 20%; */

  font-size: 22px;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 150px;
  margin-left: 300px;
  text-decoration: none;
  padding: 18px 15px;
  min-width: 200px;
  text-align: center;
}
