/*for the top border to get rid of white space on top*/
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 22px;
  /*    background: url(mountians.jpeg) no-repeat center center fixed; 
      background-size: cover;*/
}
body {
  font-family: Helvetica;
  font-size: 22px;
}
img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: -1;
}
/*nav bar */
a {
  font-family: Helvetica;
  font-size: 20px;
  color:white;
  background-color: #19456b;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

.changeColor {
  background-color: black;
}

/* button {
    font-family: Arial;
    color: #fcf8ec;
    background: #19456b;
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    min-width: 200px;
    margin: 40px;
    border-radius: 8px;
  } */

button {
  font-family: Arial;
  font-size: 30px;
  color: rgb(174, 215, 243);
  background: #19456b;
  border-radius: 150px;
  padding: 10px;
  margin: 40px;
  min-width: 200px;
  text-decoration: none;
  outline: 0;
  box-shadow: 0 10px rgb(174, 215, 243);
  border-color: #000000;
}

button:hover {
  background-color: #4286c2;
}

button:active {
  background-color: #4286c2;
  box-shadow: 0 5px rgb(174, 215, 243);
  transform: translateY(4px);
}

#SiteName {
  text-align: center;
  color: #19456b;
}

#site-name {
  text-align: center;
  color: #19456b;
}

#HomeButton button {
  font-size: 20px;
}

#UserButton button {
  font-size: 20px;
  text-align: right;
}
nav {
  text-align: right;
  flex-grow: 1;
  display: block;
}

.categories{
  text-align: center;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: #d0e8f2;
  align-items: center;
}

.flex-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.title {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  padding-top: 115px;
  padding-bottom: 20px;
  text-align: center;
}

.options button {
  /* top: 20%; */

  font-size: 22px;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 150px;
  margin-left: 300px;
  text-decoration: none;
  padding: 18px 15px;
  min-width: 200px;
  text-align: center;
}
